#set($userFN = $services.reference.serialize($doc.getDocumentReference()))
#set($url = "/UserAdmin?xpage=celements_ajax&ajax_mode=userAdmin/sendActivationMail&user=$userFN")
<a class="icon-link sendMailAction" href="$!url"><i class="icon $!{iconSendMailCssClass}" title="send mail"></i></a>
