#set($currentUser = $doc.getObject('XWiki.XWikiUsers'))
#if($isAdmin)
  <label>$adminMsg.get("XWiki.XWikiUsers_email")</label>
  <input name="XWiki.XWikiUsers_0_email" type="text" value="$currentUser.getProperty('email').getValue()">
#else
  <label for="email">$adminMsg.get("XWiki.XWikiUsers_email")</label>
  <input id="email" type="text" value="$currentUser.getProperty('email').getValue()" disabled>
#end
