#set($currentUser = $doc.getObject('XWiki.XWikiUsers'))
#if($currentUser)
  #set($objNb = $currentUser.number)
#else
  #set($objNb = -1)
#end
<label for="email">$adminMsg.get("XWiki.XWikiUsers_email")</label>
<input id="email" #if($isAdmin) name="XWiki.XWikiUsers_$!{objNb}_email" #else disabled #end type="text" value="$!currentUser.getProperty('email').getValue()">
