#if($isAdmin)
  #set($obj=$doc.getObject('XWiki.XWikiUsers'))
  #set($xwikiUsersDocRef = $services.reference.create().space("XWiki").doc("XWikiUsers").build())
  #set($xwikiUsersDoc = $services.modelAccess.getDocument($xwikiUsersDocRef))
  #set($prop=$xwikiUsersDoc.getxWikiClass().get('password'))
  $doc.displayEdit($prop, "XWiki.XWikiUsers_${obj.number}_" , $obj)
#else
  #set($params = '')
  #if("$!request.skin" == 'cellskin')
    #set($params = "skin=cellskin&")
  #end
  #set($xcancel = "${doc.getURL('edit', 'xredirect=%2FUserAdmin')}")
  #set($params = "$!{params}xpage=passwd&xredirect=${doc.getURL('edit', 'xredirect=%2FUserAdmin')}&xcancel=${xcancel}")
  <a href="$doc.getURL('edit', $params)">$adminMsg.get('cel_useradmin_password_change')</a>
#end
