#set($userDocRef = $doc.getDocumentReference())
#set($xwikiAllGroupRefDoc = $services.reference.resolveDocRef("XWiki.XWikiAllGroup"))
#set($groupDocRefList = $services.rightsAccess.getGroupRefsForUser($userDocRef))
#set($dev = $groupDocRefList.remove($xwikiAllGroupRefDoc))
#foreach ($groupDocRef in $groupDocRefList)
  #set($prettyName = $adminMsg.get("cel_groupname_${groupDocRef.name}"))
  $prettyName
#end
