#set($xwikiAllGroupDocRef = $services.reference.resolveDocRef("XWiki.XWikiAllGroup"))
#set($groupsDocRefList = $services.group.getAllLocalGroups())
#set($dev = $groupsDocRefList.remove($xwikiAllGroupDocRef))
#foreach($groupDocRef in $groupsDocRefList)
  #set($groupDoc = $services.modelAccess.getDocument($groupDocRef))
  #set($prettyName = $services.group.getGroupPrettyName($groupDocRef))
  #set($isMember = $xwiki.getUser($!{services.reference.serialize($doc.documentReference)}).isUserInGroup($groupDocRef.name))
  #if($isAdmin)
    #set($objNb = $groupDoc.getObject('XWiki.XWikiGroups', 'member', "$doc").number)
    #if(!$objNb)
      #set($objNb = $groupDoc.getObject('XWiki.XWikiGroups', 'member', '').number)
    #end
    #if(!$objNb)
      #set($objNb = -1)
    #end
    <div class='checkboxWrapper'>
      #set($inputName = "$!{services.reference.serialize($groupDocRef, 'local')}_XWiki.XWikiGroups_$!{objNb}_member")
      <input type='checkbox' value='$!{services.reference.serialize($doc.documentReference)}' name='$!{inputName}' #if($isMember) checked #end>
      <input type='hidden' value='' name='$!{inputName}'>
      <label for='$!{inputName}'>$!prettyName</label>
    </div>
  #elseif($isMember)
    <div class='checkboxWrapper'>
      <input type='checkbox' value='$!{services.reference.serialize($doc.documentReference)}' name='$!{doc}' #if($isMember) checked #end disabled>
      <input type='hidden' value='' name='$!{doc}'>
      <label for='$!{inputName}'>$!prettyName</label>
     </div>
  #else
    ##in other cases we do not display the group and the checkbox
  #end
#end
