body {
  width: 333px !important;
}

#contentTable,
.wholeContent ul {
  background-color: #ff0;
}

/* overwriting style in testStyles1 */
ul li.listitem {
  color: #00f;
}

/* combination of earlier in file and less specific -> should be ignored */
body table#contentTable .column4,
body .specialCell{
  padding-right: 8px;
}

body table#contentTable .column4,
.column2 {
  padding-right: 2px;
  color: #fff;
}

/* less specific than padding: 2px, thus should be ignored */
body .specialCell {
  padding-right: 4px;
}

/* overwrites color: #fff */
body table#contentTable .specialCell {
  color: #0ff;
}

/* + operator to select .column3 */
body table#contentTable td + td + td {
  color: #abc;
}

/* LIBRARY LIMITATION: should overwrite color: #0ff, but doesn't in 0.42.3 */
/* Works fine in CSSParser / JSoup solution */
body table#contentTable .column4.specialCell {
  color: #000;
}

/* should be overridden by !important */
html body {
  width: 123px;
}

body table#contentTable tr:first-child {
  height: auto;
}
