#if($isAdmin)
  #set($userDocRef = $services.reference.resolveDocRef($!request.get("user")))
  #if($services.modelAccess.exists($userDocRef))
    #set($user_obj = $services.modelAccess.getObject($userDocRef, $services.model.createDocumentReference('', 'XWiki', 'XWikiUsers')))
    #set($emailAddress = "$!user_obj.getProperty('email').getValue()")
    #set($successful = $services.authentication.sendValidationEmail("$!emailAddress", "email"))
    #if($successful)
      #set($message = $adminMsg.get('cel_useradmin_send_new_validation_confirm', ["$!emailAddress"])) 
    #else
      #set($message = $adminMsg.get('cel_useradmin_send_new_validation_failed', ["$!emailAddress"]))
    #end

    #set($jsonBuilder = $services.json.newBuilder())
    $jsonBuilder.openDictionary()
    $jsonBuilder.addProperty("successful", $successful)
    $jsonBuilder.addProperty("message", $message)
    $jsonBuilder.closeDictionary()
    $jsonBuilder.getJSON()
  #else
    #set($jsonBuilder = $services.json.newBuilder())
    $jsonBuilder.openDictionary()
    $jsonBuilder.addProperty("message", $adminMsg.get('cel_useradmin_send_validation_no_user'))
    $jsonBuilder.closeDictionary()
    $jsonBuilder.getJSON()
  #end
#else
  #set($jsonBuilder = $services.json.newBuilder())
  $jsonBuilder.openDictionary()
  $jsonBuilder.addProperty("message", $adminMsg.get('cel_useradmin_send_validation_no_rights'))
  $jsonBuilder.closeDictionary()
  $jsonBuilder.getJSON()
#end
