@charset "UTF-8";

#userAdminEdit #editUser #userEditForm {
  display: flex;
  flex-flow: column;
  gap: 10px;
}
#userAdminEdit #editUser #userEditForm .formWrapper {
  display: flex;
  flex-flow: row;
  gap: 40px;
}
#userAdminEdit #editUser #userEditForm .formWrapper .personalData {
  width: 100%;
}
#userAdminEdit #editUser #userEditForm .formWrapper .optionsWrapper {
  width: 100%;
}
#userAdminEdit #editUser #userEditForm .formWrapper .optionsWrapper #groups {
  display: flex;
  flex-flow: row wrap;
  padding: 3px 0px 12px;
}
#userAdminEdit #editUser #userEditForm .formWrapper .optionsWrapper #groups .checkboxWrapper {
  display: flex;
  flex-flow: row;
  flex: 0 0 200px;
}
#userAdminEdit #editUser #userEditForm .formWrapper .adduser input, 
#userAdminEdit #editUser #userEditForm .formWrapper select.adduser, 
#userAdminEdit #editUser #userEditForm .formWrapper .submitaction {
  width: 100%;
  margin: 3px 0 12px;
}
ditUser #userEditForm .formWrapper .checkboxWrapper input[type="checkbox"] {
  appearance: none;
  position: relative;
  width: 16px !important;
  height: 16px;
  margin: 0px !important;
  border: 2px solid var(--accent-color);
  border-radius: 1px;
  align-self: center;
}
#userAdminEdit #editUser #userEditForm .formWrapper .checkboxWrapper input[type="checkbox"]:checked {
  border: none;
  background-color: var(--accent-color);
}
#userAdminEdit #editUser #userEditForm .formWrapper .checkboxWrapper input[type="checkbox"]:checked::before {
  font-family: 'FontAwesome';
  content: "\f00c";
  display: block;
  color: white;
  text-align: center;
  position: absolute;
  top: 1px;
  left: 1px;
  font-size: 16px;
  line-height: 16px;
}
#userAdminEdit #editUser #userEditForm .formWrapper .checkboxWrapper label {
  padding-left: 5px;
}
#userAdminEdit #editUser #userEditForm .formWrapper .adduser input[type=text] {
  padding: 10px 10px;
  border: none;
  border-bottom: 2px solid var(--accent-color);
}
#userAdminEdit #editUser #userEditForm .formWrapper .adduser input[type=text]:focus {
  outline:none;
  border-bottom: 2px solid black;
}
#userAdminEdit #editUser #userEditForm .formWrapper select.adduser  {
  padding: 10px 10px;
  border: none;
  background-color: var(--background-color);
}
#userAdminEdit #editUser #userEditForm .submitaction, 
#userAdminEdit #editUser form#userEditForm .cancelaction {
  display: block;
  text-align: center;
  text-decoration: none;
  height: 100%;
  background-color: var(--background-color);
  color: black;
  border: none;
  padding: 8px 8px;
  margin: 6px 0 12px;
}
#userAdminEdit #editUser #userEditForm .submitaction a, 
#userAdminEdit #editUser #userEditForm .cancelaction a {
  text-decoration: none;
  color: black;
}
#userAdminEdit #editUser #userEditForm .submitaction:hover, 
#userAdminEdit #editUser #userEditForm .cancelaction:hover {
  opacity: 80%;
}
