@charset "UTF-8";

#userEditForm {
  display: flex;
  flex-flow: column;
  gap: 30px;
}
#userEditForm .formWrapper {
  display: flex;
  flex-flow: row;
  gap: 40px;
}
#userEditForm .formWrapper .formPartWrapper {
  width: 100%;
  display: flex;
  flex-flow: column;
  gap: 15px;
}
#userEditForm .formWrapper .inputWrapper {
  display: flex;
  flex-flow: column;
  width: 100%;
  gap: 5px;
}
#userEditForm #groups {
  display: flex;
  flex-flow: row wrap;
  padding: 3px 0px 12px;
}
#userEditForm #groups .checkboxWrapper {
  display: flex;
  flex-flow: row;
  flex: 0 0 200px;
  gap: 8px;
}
#userEditForm .checkboxWrapper input[type="checkbox"] {
  appearance: none;
  position: relative;
  width: 16px !important;
  height: 16px;
  margin: 0px !important;
  border: 2px solid var(--accent-color);
  border-radius: 0px;
  align-self: center;
}
#userEditForm .checkboxWrapper input[type="checkbox"]:checked {
  border: none;
  background-color: var(--accent-color);
}
#userEditForm .checkboxWrapper input[type="checkbox"]:checked::before {
  font-family: 'FontAwesome';
  content: "\f00c";
  display: block;
  color: white;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 2px;
  font-size: 15px;
  line-height: 16px;
}
#userEditForm .formWrapper input[type=text] {
  padding: 8px 10px;
  border: none;
  background-color: var(--background-color);
}
#userEditForm .formWrapper input[type=text]:focus,
#userEditForm .formWrapper select:focus {
  outline:none;
  border-bottom: 2px solid var(--accent-color);
}
#userEditForm .formWrapper select {
  padding: 8px 10px;
  border: none;
  background-color: var(--background-color);
}
#userEditForm .submitaction, 
#userEditForm .cancelaction {
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: var(--accent-color);
  border: none;
  padding: 8px 8px;
  width: 100%;
}
#userEditForm #formActionWrapper {
  display: flex;
  flex-flow: column;
  gap: 15px;
  align-items: center;
}
#userEditForm .submitaction a, 
#userEditForm .cancelaction a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
#userEditForm .submitaction:hover, 
#userEditForm .cancelaction:hover {
  opacity: 80%;
  cursor: pointer;
}
