@charset "UTF-8";
:root {
  --accent-color: #3161ac;
  --background-color: #e9f6fb;
  --lightgrey-color: #e4e9ee;
  --font: 'Open Sans', sans-serif;
}
#sitecontainer {
  padding-top: 10px;
  padding-bottom: 20px;
}
#userAdmin,
#userAdminEdit {
  display: flex;
  flex-flow: column;
  margin: 0px 2%;
}
#userAdmin  *,
#userAdminEdit *{
  box-sizing: border-box;
}
#userAdmin h1,
#userAdminEdit h1 {
  font-family: var(--font);
  background-color: var(--accent-color);
  color: white;
  font-size: 18px;
  line-height: 26px;
  padding: 6px 10px;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0px;
}
#userAdmin h2,
#userAdminEdit h2{
  font-family: var(--font);
  background-color: var(--accent-color);
  color: white;
  font-size: 16px;
  line-height: 23px;
  padding: 5px 10px;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0px;
}
#userAdmin li,
#userAdmin a,
#userAdminEdit a,
#userAdmin input:not(input[type="checkbox"]),
#userAdminEdit input:not(input[type="checkbox"]),
#userAdmin label,
#userAdminEdit label,
#userAdminEdit .select2UserAdminSelection {
  font-family: var(--font);
  font-size: 16px;
  line-height: 23px;
}
#userAdmin #content,
#userAdminEdit #editContent {
  width: 100%;
  display: flex;
  flex-flow: column;
  gap: 20px;
}
#userAdmin #searchForm,
#userAdminEdit #editUser{
  margin: 0px 20px;
}
